
@font-face {
    font-family: 'Maigre';
    src: url('src/font/maigre/Maigre.woff2') format('woff2'),
         url('src/font/maigre/Maigre.woff') format('woff'),
         url('src/font/maigre/Maigre.ttf') format('truetype');
}

/*--Color--*/

:root{
    --text-color: #0d0d0d;
    --background-color: #F2F2F2;
    --point-color : #1a95c5;
    --select-color : grey;
}

/*--Dark Mode--*/

@media (prefers-color-scheme : dark) {
    :root {
        --text-color: #F2F2F2;
        --background-color: #0d0d0d;
        --point-color: #3feb28;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background-color);
    
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

/*--mouse_pointer--*/

@media (hover: hover) {

    html {
        cursor: none;
    }

    a {
        cursor: none;
    }

    #mouse_pointer {
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--point-color);
        transition: 0.1s;
        transform: translate(-50%, -50%);
        filter: blur(5px);
        mix-blend-mode: difference;
        pointer-events: none;
    }
}

@media (hover: none) {
    #mouse_pointer {
        display: none;
    }
}

/*--index--*/

.index {
    display: grid;

    grid-template-columns: 50vw 50vw;
}

.index_video_light {
    height: 100vh;
    line-height: 100vh;
}

.index_video_dark {
    height: 100vh;
    line-height: 100vh;
    display: none;
}

/*--index video dark mode--*/

@media (prefers-color-scheme : dark) {
    .index_video_light {
        display: none;
    }

    .index_video_dark {
        display: block;
    }
}

.index video {
    width: 20vw;
    padding: 15vh 15vw;
    border-right: 1px solid var(--text-color); 
    vertical-align: middle;
}

.index_text_container {
    display: grid;
    grid-template-rows: auto;
    gap: 20vh;
    align-content: center;
    font-family: 'Maigre';
    text-align: center;
    height: 100vh;
    align-items: center;
}

.index_text {
    font-size: 2.5vw;
}

.index_timer {
    font-size: 3vw;
}

.index_end_logo {
    font-size: 1.2vw;
}

.index_end_logo_icon {
    margin-bottom: 0.5vh;
    font-size: 1vw;
}

.index_end_logo_text :hover {
    color: var(--point-color);
}


/*--Media Query--*/

@media screen and (max-width:768px) {
    .index {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-family: 'Maigre';
        height: 100vh;
    }

    .index_video_light {
        height: 40vh;
        line-height: 40vh;
    }
    
    .index_video_dark {
        height: 40vh;
        line-height: 40vh;
    }

    .index video {
        width: 70vw;
        
        padding: 0;
        border-right: 0px solid var(--text-color); 
    
        vertical-align: auto;
    }

    .index_text_container {
        display: block;
        grid-template-rows: auto;
        gap: 0vh;
        align-content: center;
        font-family: 'Maigre';
        text-align: center;
        height: auto;
        align-items: center;
    }

    .index_text {
        display: none;
    }
    
    .index_text_portrait {
        font-size: 10vw;
    }
    
    .index_timer {
        font-size: 9vw;
    }
    
    .index_end_logo {
        display: none;
    }
    
    .index_end_logo_portrait {
        position: fixed;
        bottom: 10vh;
        width: 100%;
        
    }
    
    .index_end_logo_icon {
        font-size: 3vw;
        margin-bottom: 0.5vh;
    }
    
    .index_end_logo_text {
        font-size: 4vw;
    }
}